.header {
    color: darkturquoise;
    justify-content: center;
    text-align: center;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkcyan;  
}